@import "/styles/variables.scss";

.pk-column {
  width: 320px;
  height: max-content;
  max-height: 90vh;
  overflow: auto;
  min-height: 170px;
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 8px;
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;
  background-color: $gray-900;

  &__title {
    padding: 10px;
    & > h3 {
      font-weight: 500;
      color: $gray-200;
    }
  }
}

.pk-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid $gray-1000;
  border-radius: 12px;
  height: 100px;
  padding: 12px;
  cursor: pointer;
  &:hover {
    transform: scale(0.99);
    background-color: #f5f5f5;
  }
}

@media (prefers-color-scheme: dark) {
  .pk-column .pk-card {
    background-color: $gray-200;
    border-color: $gray-900;
    color: $white;
  }

  .pk-card:hover {
    transform: scale(0.99);
    background-color: $gray-300;
  }
  .pk-card:active {
    transform: scale(0.98);
    background-color: $gray-400;
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}
}